:root{
    --primary-color: rgb(4, 72, 154);
    --primary-color-darker: rgb(4, 45, 95);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.container{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: rgb(0, 0, 0);
    max-width: 640px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background-color: var(--primary-color-darker);
}

.paragrafo, .error{
    background: rgb(0, 255, 115);
    padding: 10px 20px;
}

.error{
    background-color: rgb(236, 69, 69);
}